* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: beige;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
    padding: 1rem;;
}

.content-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: .3rem;
}



.mediacontent {
    max-width: 100%;
}

@media (max-width: 1250px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media (orientation: landscape) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1250px){
    body {
        font-size: 150%;
    }
}