* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    grid-area: header;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "menu content sidebar"
        "footer footer footer";
    grid-template-columns: minmax(150px, 200px) 1fr minmax(150px, 200px);
    grid-template-rows: auto 1fr;
}

.menu {
    grid-area: menu;
    background-color: #f1f1f1;
    padding: 1rem;
}

.content {
    grid-area: content;
    background-color: #e2e2e2;
    padding: .7rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #c2c2c2;
    padding: 1rem;
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: .8rem;
}

.content-item, .sidebar-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: .7rem;
    border-radius: .3rem;
}

.picture {
    max-width: 80%;
}

#Willkommen {
    background-color:green;
}

@media (max-width: 450px) {
    .grid-container {
        grid-template-areas:
            "menu"
            "content"
            "sidebar"
            "footer";
        grid-template-columns: 1fr;
    }

    .picture {
        max-width: 100%;
    }
}